@font-face {
      font-family: pixelada;
      src: url(./fuentes/pixelmix.ttf);
}

* {
      font-family: pixelada;
}

body {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin: 0;
}

ul {
      display: flex;
      list-style: none;
      gap: 10px;
      font-size: 20px;
}

a {
      text-decoration: none;
}

button {
      display: flex;
      width:max-content;
      padding: 2px;
      background-color: #4F709C;
      color: #F1F0E8;
      border: 2px solid #F1F0E8;
      align-items: center;
}

img{
      max-width: 100%;
      height: auto;
}

.imagen1 {
      display: flex;
      object-fit:contain;
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
      box-shadow: 2px 4px #405a7d ;
}

.contenedor-1,
.contenedor-2,
.contenedor-3,
.contenedor-4,
.sub-contenedor-derecha,
.sub-contenedor-izquierda {
      display: flex;
      height: 30%;
}


.header {
      display: flex;
      height: 10%;
      align-items: center;
      justify-content: space-between;
      padding-left: 10%;
      padding-right: 10%;
      background-color: #96B6C5;
      color: #F1F0E8;
}

.header-logo {
      font-size: 40px;
      font-weight: 500;
}


.contenedor-1 {
      background-color: #96B6C5;  
      color: #F1F0E8; 
      padding: 10%;
      gap: 25px;
      justify-content: space-between;
}

.contenedor-2 {
      background-color: #F4F2DE;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      padding-left: 10%;
      padding-right: 10%;
      gap: 10px;
}

.contenedor-3 {
      background-color: #E9B384;
}

.contenedor-4 {
      background-color: #F4F2DE;
}

.footer {
      display: flex;
      height: 10%;
      background-color: #96B6C5;
}

.titulo {
      font-size: 30px;
      font-weight: 800;
}

.sub-contenedor-izquierda {
      flex-direction: column;
      gap: 10px;
      min-height: 100%;
      justify-content: flex-start;
}

.sub-contenedor-derecha{
      justify-content: flex-end;
      object-fit: contain;
      min-height: 85%;
}

.cajas2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
}

.caja{
      display: flex;
      height: 300px;
      width: 300px;
      border: 2px solid black;
      object-fit: cover;
}


.textocaja{
      text-align: center;
      width: 150px;
      margin: 0;
}

.imagen2{
      display: flex;
      object-fit:cover;
}







