@font-face {
      font-family: pixelada;
      src: url(./fuentes/rainyhearts.ttf);
}

body {
      display: flex;
      flex-direction: column;
      height:150vh; 
      margin: 0;
}

ul {
      display: flex;
      list-style: none;
      gap: 10px;
}

a {
      text-decoration: none;
}

.header {
      display: flex;
      height: 10%;
      align-items: center;
      justify-content: space-between;
      padding-left: 10%;
      padding-right: 10%;
      background-color: #96B6C5;
      color: #F1F0E8;
}

.contenedor-1 {
      background-color: #96B6C5;   
}

.contenedor-2 {
      background-color: #F4F2DE;
}

.contenedor-3 {
      background-color: #E9B384;
}

.contenedor-4 {
      background-color: #F4F2DE;
}

.footer {
      background-color: #96B6C5;
}

.contenedor-1,
.contenedor-2,
.contenedor-3,
.contenedor-4 {
      display: flex;
      height: 30%;
}

.footer {
      display: flex;
      height: 10%;
}

.links-derecha {
      display: flex;
}




